@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html {
    /* overflow : hidden; */
    scroll-behavior: smooth;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
    --alata-font : 'Alata', sans-serif;
    --josefin-font : 'Josefin Sans', sans-serif;
}

body {
    height : auto;
    /* width : auto; */
    /* overflow : hidden; */

}

.container {
    display : flex;
    flex-direction : column;
    padding : 0rem 0rem;
    background : url('images/mobile/image-hero.jpg') no-repeat;
    background-size : cover;
    height : 75vh;
    width : 100vw;
}
.nav-wrapper {
    display : flex;
    justify-content : space-between;
}
.logo {
    font-family : var(--alata-font);
    font-size : 2rem;
    color : #fff;
    cursor : pointer;
    transition : all .5s ease-in-out;
    margin : 10px 10px;
    z-index : 444;
}
.logo:hover {
    color : rgb(167, 161, 161);
}

.navbar {
    background : rgb(3, 3, 3);
    padding : 1rem .2rem;
    display : flex;
    align-items : center;
    height : 100%;
    width : 100%;
    position : absolute;
    transform : translateX(-1000px);
    transition : all .4s ease-in-out;
    z-index : 44;
    overflow : hidden;
}
.navbar.active {
    transform : translateX(0px);
}
.nav-list {
    display : flex;
    flex-direction : column;
    justify-content : center;
    /* align-items : center; */
    list-style : none;
    margin-left : 10px;
}
.list-item {
    margin : 10px 0;
}
.list-link {
    text-decoration : none;
    color : rgb(221, 217, 217);
    font-size : 2rem;
    font-family : var(--josefin-font);
    transition : all .4s ease-in;
}
.list-link:hover {
    color : rgb(170, 164, 164);
}
.menu-btn {
    z-index : 44;
    position : relative;
    margin-top : 1.7rem;
    margin-right : 3rem;
    cursor : pointer;
    transition : all .4s ease-in;
}
.menu-btn i {
    font-size : 1.5rem;
    color : white;
    font-weight : light;
    transition : all .4s ease-in;
}

.quote-wrapper {
    background : rgba(90, 87, 87, 0.288);
    border : 1px solid rgba(255, 255, 255, 0.281);
    backdrop-filter : blur(10px);
    padding : 1rem 1rem;
    padding-right : 6rem;
    width : 70%;
    display : flex;
    justify-content : flex-start;
    align-items : flex-start;
    text-align : left;
    align-self : center;
    margin-top : 7rem;
    z-index : 2;
    position : relative;
    overflow : hidden;
    word-wrap : break-word;
}
.quote-wrapper h2{
    font-size : 2.5rem;
    color : white;
    font-family : var(--josefin-font);
    font-weight : lighter;
    line-height : 1.2;
}


/* First Section  */

.first {
    padding : 2rem 1rem;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    background : white;
}
.vr-img {
    width : 390px;
    height : 250px;
    position : relative;
}
.vr-img img {
    position : absolute;
    width : 100%;
    height : 100%;
    object-fit : cover;
}
.text-wrapper {
    margin-top : 2rem;
    display : flex;
    flex-direction : column;
    text-align : center;
    justify-content : center;
    align-items : center;
    padding : 1rem 2rem;
}
.heading {
    font-family : var(--josefin-font);
    font-size : 2rem;
    color : rgb(37, 36, 36);
    font-weight : lighter;
}
.description {
    margin-top : 1rem;
    color : rgb(121, 115, 115);
    font-family : var(--alata-font);
    font-size : 1rem;
    line-height : 1.5;
    align-self : center;
    padding-right : 1rem;
}


/* Create Section  */
.create {
    padding : 2rem 1rem;
    background : white;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}
.main-heading {
    font-size : 1.8rem;
    color : black;
    font-family : var(--josefin-font);
    font-weight : lighter;

}
.card {
    margin-top : 2rem;
    /* background : red; */
    padding : 1rem 1rem;
    display : grid;
    grid-template-columns : repeat(1, 1fr);
}
.img-wrapper {
    margin : 10px 0;
    position : relative;
    display : flex;
    /* justify-content : center; */
    align-items : center;
    cursor : pointer;
    transition : all .4s ease-in-out;
}
.img-wrapper:after {
    content : "";
    position : absolute;
    width : 100%;
    height : 0%;
    background : transparent;
    transition : all .4s ease-in-out;
    bottom : 0;
}
.img-wrapper:hover:after {
    background : rgba(39, 38, 38, 0.466);   
    height : 100%;
}
.img-wrapper:nth-child(1) {
    background : url('images/mobile/image-deep-earth.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}
.img-wrapper:nth-child(2) {
    background : url('images/mobile/image-night-arcade.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}
.img-wrapper:nth-child(3) {
    background : url('images/mobile/image-soccer-team.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}
.img-wrapper:nth-child(4) {
    background : url('images/mobile/image-grid.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}
.img-wrapper:nth-child(5) {
    background : url('images/mobile/image-from-above.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}
.img-wrapper:nth-child(6) {
    background : url('images/mobile/image-pocket-borealis.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}
.img-wrapper:nth-child(7) {
    background : url('images/mobile/image-curiosity.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}
.img-wrapper:nth-child(8) {
    background : url('images/mobile/image-fisheye.jpg') no-repeat;
    background-size : cover;
    height : 110px;
    width : 300px;
}

.title {
    color : white;
    font-family : var(--josefin-font);
    margin-left : 1rem;
    font-size : 1.3rem;
    font-weight : lighter;
    width : 100px;
    position : relative;
    z-index : 888;
}
.btn {
    background : transparent;
    margin-top : 1rem;
}
.btn a {
    text-decoration : none;
    font-family : var(--alata-font);
    font-size : 1rem;
    color : black;
    border : 1px solid #000;
    display : flex;
    text-align : center;
    padding : .8rem 4rem;
    letter-spacing : 4px;
    transition : all .5s ease-in-out;
}
.btn a:hover {
    background : #000;
    color : #fff;
    border : none;
}

/* Footer Section  */
.info {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align : center;
    background : black;
    color : white;
    padding-bottom : 2rem;
    padding-top : 1rem;
}
.info h5 {
    font-size : 1.7rem;
    font-family : var(--alata-font);
    font-weight : bolder;
    color : white;
}

.list-wrapper {
    margin-top : 1rem;
    display : flex;
    flex-direction : column;
    list-style : none;
}
.list-wrapper li {
    font-family : var(--alata-font);
    font-size : 1rem;
    color : white;
    margin : 8px 0;
    cursor : pointer;
    transition : all .4s ease-in;
}
.list-wrapper li:hover {
    color : rgb(167, 161, 161);
}

.brand-wrapper {
    display : flex;
    margin-top : 1rem;
}
.brand-wrapper i {
    margin : 0 10px;
    font-size : 1.4rem;
    cursor : pointer;
    transition : all .4s ease-in;
}
.brand-wrapper i:hover {
    color : rgb(243, 107, 232);
}
.copyright {
    margin-top : .5rem;
    font-family : var(--alata-font);
    font-size : .8rem;
    color : rgb(167, 160, 160);
}

@media (min-width : 1000px) {
    .container {
        display : flex;
        flex-direction : column;
        padding : 0rem 0rem;
        background : url('images/desktop/image-hero.jpg') no-repeat;
        background-size : cover;
        height : 75vh;
        width : 100vw;
    }
    .menu-btn {
       visibility : hidden;
       opacity : 0;
    }

    .navbar {
        background : rgba(3, 3, 3, 0.021);
        padding : 1rem 5rem;
        display : flex;
        align-items : center;
        /* height : 100%; */
        /* width : 100%; */
        position : relative;
        transform : translateX(0px);
        transition : all .4s ease-in-out;
        z-index : 44;
        overflow : hidden;
        margin-left : 2rem;
        justify-content : center;

    }
    .nav-list {
        display : flex;
        flex-direction : row;
        justify-content : center;
        /* align-items : center; */
        list-style : none;
        margin-left : 10px;
    }
    .list-item {
        margin : 10px 20px;
    }
    .list-link {
        text-decoration : none;
        color : rgb(221, 217, 217);
        font-size : 1rem;
        font-family : var(--josefin-font);
        transition : all .4s ease-in;
        font-weight : bolder;
    }
    .list-link:hover {
        color : rgb(124, 183, 238);
    }

    .quote-wrapper {
        background : rgba(90, 87, 87, 0.288);
        border : 1px solid rgba(255, 255, 255, 0.281);
        backdrop-filter : blur(10px);
        padding : 1rem 1rem;
        padding-right : 6rem;
        width : 40%;
        display : flex;
        justify-content : flex-start;
        align-items : flex-start;
        text-align : left;
        align-self : center;
        margin-top : 7rem;
        z-index : 2;
        position : relative;
    }
    .quote-wrapper h2{
        font-size : 4rem;
        color : white;
        font-family : var(--josefin-font);
        font-weight : lighter;
        line-height : 1.2;
    }

    /* first Section  */

    .first {
        display : flex;
        flex-direction : row;
        justify-content : center;
        align-items : center;
        text-align : center;
    }
    .vr-img {
        width : 600px;
        height : 420px;
        position : relative;
    }
    .vr-img img {
        position : absolute;
        width : 100%;
        height : 100%;
        object-fit : cover;
    }
    .text-wrapper {
        margin-top : 2rem;
        display : flex;
        flex-direction : column;
        text-align : center;
        justify-content : center;
        align-items : center;
        padding : 3rem 4rem;
        background : white;
        box-shadow : 1px 1px 10px 10px rgba(0, 0, 0, 0.178);
        width : 40%;
        z-index : 44;
        position : relative;
        top : 80px;
        left : 3%;
    }
    .heading {
        font-family : var(--josefin-font);
        font-size : 2rem;
        color : rgb(37, 36, 36);
        font-weight : lighter;
    }
    .description {
        margin-top : 1rem;
        color : rgb(121, 115, 115);
        font-family : var(--alata-font);
        font-size : 1rem;
        line-height : 1.5;
        align-self : center;
        padding-right : 1rem;
    }

    .create {
        padding : 2rem 1rem;
        background : white;
        display : flex;
        flex-direction : column;
        justify-content : center;
        align-items : center;
        margin-top : 4rem;
    }
    .main-heading {
        font-size : 1.8rem;
        color : black;
        font-family : var(--josefin-font);
        font-weight : lighter;
    
    }
    .card {
        margin-top : 2rem;
        /* background : red; */
        padding : 1rem 1rem;
        display : grid;
        grid-template-columns : repeat(4, 1fr);
        gap : 1rem;
        height : auto;
    }
    .img-wrapper {
        margin : 10px 0;
        position : relative;
        display : flex;
        /* justify-content : center; */
        align-items : center;
        cursor : pointer;
        transition : all .4s ease-in-out;
    }
    .img-wrapper:after {
        content : "";
        position : absolute;
        width : 100%;
        height : 0%;
        background : transparent;
        transition : all .4s ease-in-out;
        bottom : 0;
    }
    .img-wrapper:hover:after {
        background : rgba(39, 38, 38, 0.466);   
        height : 100%;
    }
    .img-wrapper:nth-child(1) {
        background : url('images/desktop/image-deep-earth.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    .img-wrapper:nth-child(2) {
        background : url('images/desktop/image-night-arcade.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    .img-wrapper:nth-child(3) {
        background : url('images/desktop/image-soccer-team.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    .img-wrapper:nth-child(4) {
        background : url('images/desktop/image-grid.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    .img-wrapper:nth-child(5) {
        background : url('images/desktop/image-from-above.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    .img-wrapper:nth-child(6) {
        background : url('images/desktop/image-pocket-borealis.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    .img-wrapper:nth-child(7) {
        background : url('images/desktop/image-curiosity.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    .img-wrapper:nth-child(8) {
        background : url('images/desktop/image-fisheye.jpg') no-repeat;
        background-size : cover;
        height : 310px;
        width : 250px;
    }
    
    .title {
        color : white;
        font-family : var(--josefin-font);
        margin-left : 1rem;
        font-size : 1.3rem;
        font-weight : lighter;
        width : 100px;
        position : relative;
        z-index : 888;
    }

    .list-wrapper {
        margin-top : 1rem;
        display : flex;
        flex-direction : row;
        list-style : none;
    }
    .list-wrapper li {
        font-family : var(--alata-font);
        font-size : 1rem;
        color : white;
        margin : 0px 10px;
        cursor : pointer;
        transition : all .4s ease-in;
    }
    
}